.constructor {
  width: 600px;
  padding-left: 20px;
}
.scrollsection {
  position: relative;
  max-height: 460px;
  min-height: 460px;
  overflow-y: auto;
  overflow-x: hidden;
}
.scrollSectionHover {
  border: 1px solid white;
}
.scrollsection::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #2F2F37;
}
.scrollsection::-webkit-scrollbar-thumb {
  background: #8585AD;
}
.totalBlock {
  display: flex;
  justify-content: flex-end;
}
.emptyConstructor {
  height: 100%;
  width: 488px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2f2f37;
  border-radius: 40px;
  position: absolute;
}
.emptyBunTop {
  max-width: 488px;
  background: #1C1C21;
  border-radius: 88px 88px 40px 40px;
  height: 80px;
  line-height: 80px;
  text-align: center;
}
.emptyBunBottom {
  max-width: 488px;
  background: #1C1C21;
  border-radius: 40px 40px 88px 88px;
  height: 80px;
  line-height: 80px;
  text-align: center;
}
.bunHover {
  border: 1px solid #fff;
}
