/* fonts */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/JetBrainsMono-Light.ttf") format("ttf");
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/JetBrainsMono-Regular.ttf") format("ttf");
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/JetBrainsMono-Medium.ttf") format("ttf");
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/JetBrainsMono-SemiBold.ttf") format("ttf");
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/JetBrainsMono-Bold.ttf") format("ttf");
}

/* main styles */
body {
  font-family: 'JetBrains Mono', monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  max-width: 1240px;
  margin: auto;
}
