.nav {
  position: relative;
  display: flex;
  align-items: center;
}
.nav-btn {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #8585AD;
  border-radius: 40px;
  cursor: pointer;
}
.nav-btn svg {
  fill: #8585AD;
}
.nav-btn:last-child{
  margin-left: auto;
}
.nav-btn_current {
  color: #F2F2F3;
}
.nav-btn_current svg{
  fill: #F2F2F3;
}
.nav-btn_personal {
  margin-left: auto;
}
.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
